@model IEnumerable<Payment>
@{
    ViewData["Title"] = "Payment List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div class="row">
        <div class="col-md-10">
            <a asp-controller="Payment" asp-action="Create" class="btn btn-primary btn-sm">+ Create New</a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Payment Name</th>
                        <th>Orders</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Orders.Count()</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>
                                <a asp-controller="Payment" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                                <a asp-controller="Payment" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            @if (ViewBag.Error != null)
            {
                <strong>@ViewBag.Error</strong>
            }
        </div>
    </div>
</div>